@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;600&display=swap");

:root {
  --clr-accent-100: 0, 0, 0;
  --clr-accent-200: 21, 0, 80;
  --clr-accent-300: 63, 0, 113;
  --clr-accent-400: 337 100 72;
  --ff: "Chivo Mono", monospace;
  --fw-regular: 400;
  --fw-bold: 600;
}

*,
*::before,
*:active {
  font-weight: var(--fw-regular);
}

body {
  font-family: var(--ff);
  background-color: rgb(var(--clr-accent-100));
  color: rgb(var(--clr-accent-400));
}

#root {
  display: grid;
  place-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.relative {
  position: relative;
}

.flow > * + * {
  margin-top: var(--flow-gap, 3rem);
}

.text-accent-100 {
  color: rgb(var(--clr-accent-100));
}

.text-accent-200 {
  color: rgb(var(--clr-accent-200));
}

.text-accent-300 {
  color: rgb(var(--clr-accent-300));
}

.text-accent-400 {
  color: rgb(var(--clr-accent-400));
}

.text-white {
  color: #ffffff;
}

.bg-accent-100 {
  background-color: rgb(var(--clr-accent-100));
}

.bg-accent-200 {
  background-color: rgb(var(--clr-accent-200));
}

.bg-accent-300 {
  background-color: rgb(var(--clr-accent-300));
}

.bg-accent-400 {
  background-color: rgb(var(--clr-accent-400));
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.pointer {
  cursor: pointer;
}

/* Block */

.password {
  width: 100%;
  max-width: 40rem;
  padding: 1rem;
  background-color: rgb(var(--clr-accent-200));
}

.password__title {
  font-size: 2.5rem;
  font-weight: var(--fw-bold);
  margin-bottom: 0.5rem;
  line-height: 1.1;
}

.password__input {
  display: inline-block;
  background-color: transparent;
  font-size: 1.4rem;
  width: 100%;
  border: 0.125rem solid rgb(var(--clr-accent-400));
  color: #ffffff;
  padding: 0;
}

.password__input > input:active {
  background-color: rgb(var(--clr-accent-300));
}

.password__input > input {
  border: none;
  outline: none;
  text-align: left;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
}

.password_copy-alert {
  position: absolute;
  display: block;
  top: -20px;
  left: 0;
  background-color: rgb(var(--clr-accent-300));
  padding: 0.5rem;
  color: #fff;
  font-size: 16px;
}

.password__slider {
  position: relative;
  display: flex;
  align-items: center;
  height: 1.625rem;
  margin-top: 3.75rem;
}

.password__slider::before {
  content: "Length";
  position: absolute;
  top: -20px;
  left: 0;
  color: #fff;
}

.password__slider_input {
  appearance: none;
  border-radius: 100vmax;
  background-color: rgb(var(--clr-accent-400));
  width: 100%;
  height: 0.3rem;
}

.password__slider_input::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: rgb(var(--clr-accent-200));
  border: 0.125rem solid rgb(var(--clr-accent-400));
  border-radius: 100%;
  cursor: pointer;
}

.password__slider_input::-ms-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: rgb(var(--clr-accent-200));
  border: 0.125rem solid rgb(var(--clr-accent-400));
  border-radius: 100%;
  cursor: pointer;
}

.password__slider_input::-moz-range-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: rgb(var(--clr-accent-200));
  border: 0.125rem solid rgb(var(--clr-accent-400));
  border-radius: 100%;
  cursor: pointer;
}

.password__slider_value {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  width: 3.125rem;
  text-align: right;
}

.password__option > input {
  appearance: none;
  margin: 0;
  background-color: transparent;
  border: 0.15rem solid rgb(var(--clr-accent-400));
  width: 1.4rem;
  height: 1.4rem;
}

.password__option > input:checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--clr-accent-400));
  padding-bottom: 0.25rem;
}

.password__option > input:checked::before {
  content: "";
  width: 0.5rem;
  height: 1rem;
  border: solid #fff;
  border-width: 0 0.1875rem 0.1875rem 0;
  transform: rotate(45deg);
}

.password__option > span {
  margin-left: 0.5rem;
}

.password__strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.password__strength-indicator {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.password__strength-indicator[data-strength-level="weak"] {
  color: rgb(247, 40, 40);
}

.password__strength-indicator[data-strength-level="average"] {
  color: rgb(255, 179, 37);
}

.password__strength-indicator[data-strength-level="strong"] {
  color: rgb(23, 240, 23);
}

.password__button {
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  margin-left: auto;
  width: 100%;
  font-size: 1.4rem;
}
@media (max-width: 48rem) {
  html {
    font-size: 13px;
  }

  .password {
    min-height: 100vh;
  }
  .password__slider::before,
  .password__option > span {
    font-size: 16px;
  }

  .password__strength-title {
    font-size: 16px;
  }
}
